body{
  margin-top:100px;
}
jumbotron{
  background: blue;
}
nav.navbar-nav {
  margin-right: auto;
  margin-left: auto;
  background: #ffcc99;
}
.carousel{
  background: yellow;
}

.no-gap-cols div:first-child {
	padding-right: 2px;
}
.no-gap-cols div:last-child {
	padding-left: 2px;
}
#loginModal .modal-body .row > div:last-child {
	border-left: 1px #d0d0d0 solid;
}
/*nav {display: none !important}*/
.form-horizontal .no-top-padding{
	padding-top: 0;
}
#loginModal > .modal-dialog {
	width: 300px;
}
#fieldset-remembergroup .control-label {
	padding-left:15px;
}